/*mixins*/
/*fonts*/
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.woff2') format('woff2'), url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.woff2') format('woff2'), url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
/*header*/
.header {
  padding-top: 15px;
}
.list_first li {
  text-decoration: none;
  display: inline-block;
  margin: 0.2em;
  font-family: 'Gilroy';
}
.list_second li {
  text-decoration: none;
  display: inline-block;
  margin: 0.4em;
  font-family: 'Gilroy';
}
.btn {
  background-color: #e6151a;
  border: none;
  color: #ffffff;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.number {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Gilroy';
  color: #313131;
}
.busket_white {
  margin: 0 0 0 .7em;
}
.items {
  display: inline-block;
}
/*video*/
.video {
  background-image: url(../i/video.png);
  height: 700px;
  background-repeat: no-repeat;
  width: 100%;
  background-position: top center;
}
/*naslogdatsia zvuchaniem*/
.zagolovok {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Gilroy';
}
.text_abzac {
  text-align: center;
  margin: 0 auto;
  font-family: 'Gilroy';
  font-size: 18px;
}
.nasl_zvuchaniem {
  text-align: center;
  padding: 2em;
}
.image_nasl_zvuganiem {
  background-image: url(../i/image_naslagdatsia_zvuganiem.png);
  height: 300px;
  background-position: center;
  width: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 2em;
  margin: 0 auto;
}
/*legko obshatsia*/
.image_legko_obshatsia {
  height: 300px;
  background-image: url(../i/image_legko_obshatsia.png);
  background-position: center;
  width: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 2em;
  margin: 0 auto;
}
.legko_obshatsia_bg {
  background-color: #161616;
  color: #ffffff;
  padding: 2em;
}
/*legko nosit*/
.image_legko_nosit {
  background-image: url(../i/image_legko_nosit.png);
  height: 500px;
  background-repeat: no-repeat;
  width: 100%;
  background-position: top center;
  background-size: cover;
}
/*priatni slushat*/
.priatno_slushat {
  padding: 2em;
}
/*nabor*/
.image_nabor {
  background-image: url(../i/nabor.png);
  background-position: center;
  width: 700px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 2em;
  height: 400px;
  margin: 0 auto;
}
/*na celii den*/
.legko_na_celii_den {
  background-image: url(../i/image_legko_na_celii_den.png);
  height: 700px;
  background-repeat: no-repeat;
  width: 100%;
  background-position: top center;
}
/*s etim tovarom pokupaut*/
.image_nabor_niz {
  background-image: url(../i/nabor_niz.png);
  background-position: center;
  width: 800px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 2em;
  height: 400px;
  margin: 0 auto;
}
.footer_list {
  list-style-type: none;
  font-size: 13px;
  font-family: 'Gilroy';
  color: #313131;
}
